.toplevel-padded {
  padding: 1em;
  padding-left: 3.5em;
}
@media screen and (max-width: 720px) {
  .toplevel-padded {
    padding-left: 1em;
  }
}
body {
  margin: 0;
}
#header {
  padding: 1em;
  padding-left: 3.5em;
  background-color: #224466;
  color: white;
}
@media screen and (max-width: 720px) {
  #header {
    padding-left: 1em;
  }
}
#page-flex {
  display: flex;
  flex-direction: column;
}
#welcome {
  padding: 1em;
  padding-left: 3.5em;
}
@media screen and (max-width: 720px) {
  #welcome {
    padding-left: 1em;
  }
}
#banner {
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 20px;
}
.input {
  margin-bottom: 20px;
  width: 30vw;
}
@media screen and (max-width: 720px) {
  .input {
    width: auto;
    margin-right: 3.5em;
  }
}
#login {
  display: flex;
  flex-direction: column;
  padding: 1em;
  padding-left: 3.5em;
}
@media screen and (max-width: 720px) {
  #login {
    padding-left: 1em;
  }
}
#button {
  display: flex;
  padding: 1em;
  padding-left: 3.5em;
}
@media screen and (max-width: 720px) {
  #button {
    padding-left: 1em;
  }
}
@media screen and (max-width: 720px) {
  #button {
    flex-direction: column;
  }
}
