html {
  background-color: bisque;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.toplevel-padded {
  padding: 1em;
  padding-left: 3.5em;
}
@media screen and (max-width: 720px) {
  .toplevel-padded {
    padding-left: 1em;
  }
}
body {
  margin: 0;
}
#header {
  padding: 1em;
  padding-left: 3.5em;
  background-color: #224466;
  color: white;
}
@media screen and (max-width: 720px) {
  #header {
    padding-left: 1em;
  }
}
#page-flex {
  display: flex;
  flex-direction: column;
}
#welcome {
  padding: 1em;
  padding-left: 3.5em;
}
@media screen and (max-width: 720px) {
  #welcome {
    padding-left: 1em;
  }
}
#banner {
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 20px;
}
.input-common {
  display: flex;
  margin-bottom: 20px;
}
.input {
  display: flex;
  margin-bottom: 20px;
  width: 30vw;
}
@media screen and (max-width: 720px) {
  .input {
    width: auto;
    margin-right: 1em;
  }
}
#input-with-code {
  width: 22vw;
}
@media screen and (max-width: 720px) {
  #input-with-code {
    width: auto;
    margin-right: 23em;
  }
}
#code {
  width: 22vw;
}
#login {
  display: flex;
  flex-direction: column;
  padding: 1em;
  padding-left: 3.5em;
}
@media screen and (max-width: 720px) {
  #login {
    padding-left: 1em;
  }
}
#buttons {
  display: flex;
  padding: 1em;
  padding-left: 3.5em;
}
@media screen and (max-width: 720px) {
  #buttons {
    padding-left: 1em;
  }
}
@media screen and (max-width: 720px) {
  #buttons {
    flex-direction: column;
  }
}
.button {
  margin-right: 20px;
}
@media screen and (max-width: 720px) {
  .button {
    margin-bottom: 20px;
  }
}
